body{
	overflow-x:hidden;
	overflow-y:hidden;
	padding:0px;
}

#frame{
	width:100%;
	border:0;
	height:100%;
}
*{margin:0px;padding:0px;}
.menu {
	padding-right:1em;
	font-size:2em;
	background-color:#f0f0ff;
	margin:0 auto; 
	height:6%;
	font-family:Arial;
	text-align:center;
}
ul{
    list-style:none;
}
li{
	float:left;
	list-style:none;
}
.menu a{
	color:#7d7d7d;
	text-decoration:none;
	display:block;
	padding:0 20px;
	background-color:#99afff;
}
.menu a:hover{
	background-color:#ccccff;
	color:#ffffff;
}
.popup{
	position:absolute;
	z-index:2;
}
.menu_s{
	float:none;
	text-align:left;
	display:none;
	background-color:#cfcccc;
}
.menu_s a:hover{
    color:#ffffff;
}
ul li:hover .menu_s{display:block;}
