.img_disc{
    transition-duration:0.3s;
	width:15%;
}
.img_disc:hover{
	border:#faffa0 solid 5px;
	border-radius:5px;
	transform:scale(1.3);
}

#dis_a{
	background-color:#acf0fc;
	padding:1 2em 1 2em;
}
#dis_b{
	background-color:#e0d0fe;
	padding:1 2em 1 2em;
}
#dis_c{
	background-color:#aaf0af;
	padding:1 2em 1 2em;
}